name: Terraform with Vault

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Vault
        run: |
          sudo apt update
          sudo apt install -y vault

      - name: Authenticate to Vault
        env:
          VAULT_ADDR: http://<EC2_PUBLIC_IP>:8200
        run: |
          vault login -method=jwt \
            role=github-actions \
            jwt=$ACTIONS_ID_TOKEN_REQUEST_TOKEN

      - name: Read AWS creds from Vault
        env:
          VAULT_ADDR: http://<EC2_PUBLIC_IP>:8200
        run: |
          echo "AWS_ACCESS_KEY=$(vault kv get -field=access_key kv/aws)" >> $GITHUB_ENV
          echo "AWS_SECRET_KEY=$(vault kv get -field=secret_key kv/aws)" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Apply
        env:
          TF_VAR_aws_access_key: ${{ env.AWS_ACCESS_KEY }}
          TF_VAR_aws_secret_key: ${{ env.AWS_SECRET_KEY }}
        run: |
          terraform init
          terraform apply -auto-approve
